.todolist-container {
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid rgb(202, 95, 111);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid black;    
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightpink;
}

.task-list li.completed span {
    text-decoration: line-through;
    color: #aaa;
}

.task-list li button {
    background-color: #dc3545;
}

.task-list li button:hover {
    background-color: #c82333;
}
